appdirs==1.4.3
asgiref==3.7.2
certifi==2024.7.4
charset-normalizer==2.0.12
Django==4.2.19
django-crispy-forms==1.14.0
django-extensions==3.1.5
django-rosetta==0.9.8
django-tinymce==3.4.0
packaging==24.2
parso==0.8.3
pillow==11.1.0
polib==1.1.1
pudb==2022.1.1
Pygments==2.15.0
pyparsing==2.2.0
pytz==2021.1
requests==2.32.2
six==1.10.0
sqlparse==0.4.4