body{
    font-family: 'Raleway', sans-serif;
    background-color:  #eee;
    font-size: 13px;
    color: #3d464d;
}

/* HEADER */

.header{
    background: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
	padding-left: 0px;
    padding-right: 0px;
    font-size:15px;
    border-bottom: 1px solid #e5e5e5;
}

.navbar.navbar-default {
	box-sizing: border-box;
    background-color: #f4f4f4;
    min-height: 70px;
    width: auto;
    border: none;
    margin-bottom: 2px;
	padding-top: 10px;
}

.navbar-default .navbar-brand {
    color: #116f0b;
	font-family: ProximaNovaA-bold;
    margin-top: 5px;
}

ul.nav.navbar-nav.navbar-right {
    position: relative;
    padding: 10px 5px 10px 10px;
}

a.navbar-brand {
    padding: 10px 5px 10px 10px;
}

.navbar-inverse .navbar-toggle {
    border-color: aliceblue;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: cornflowerblue;
}

img.icons {
    margin: 5px;
    padding: 5px;
}

span.logo1 {
    font-family: sans-serif;
    font-size: 30px;
}

span.logo1:hover {
    color: #0cb0f4;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.jumbotron{
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 6px;
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 200;
}

span.logo {
    font-family: 'FontAwesome';
    font-size: larger;
    color: darkcyan;
}


.img-responsive {
	margin-top: -5px;
    object-fit: cover;
    object-position: bottom;
	width:  100%;
	height: 450px;
    border-bottom-right-radius: 50% 5%;
    border-bottom-left-radius: 50% 5%;
}

.row.innovation {
    margin: 30px;
}

.text_innovation{
    font-size: 21px;
    text-align: center;
    line-height: normal;
    margin: 0px;
    font-family: 'FontAwesome';
}


/* Prevent image stretching is it's resized */
.card-img-top {
    object-fit: cover;
    flex-grow: 1;
    width:100%;
    height: 165px;
}

/* Hover effects */
.w3-card {
    transition: -webkit-transform 0.3s ease;
    font-size: 1em;
    overflow: hidden;
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid #d9e2e7;
    box-shadow: 0 5px 10px 0 rgb(42 57 66 / 20%);
    background-color: #fafdff;
    height: 380px;
    max-width: 98%;
}

.card:hover {
  transform: scale(1.01, 1.01);
}

/* Responsive design for image heights */
@media (min-width: 1200px)
.col-lg-4 {
    width: 33.33333333%;
}

@media (min-width: 992px)
.col-md-6 {
    width: 45% !important;
}

.container {
  @media (min-width: @screen-xlg-min) {
    width: @container-xlg;
  }
}

.card-body-list{
    margin: 15px;
    font-size: 14px;
    font-family: Raleway, sans-serif;
}

/* index bottom */ 
.col-12.col-md-6.col-md-4.mb-3 {
    bottom: 10px;
}

/* FOOTER */
.footer-copyright.text-center.py-3 {
    background-color: darkgrey;
    padding: 40px;
}

p.footer-text {
    margin: 23px;
    color: white;
}

span.icon-settings {
    margin: 5px;
}

.footer {
    background-color: #105469 !important;
    height: 110px;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    transition: all .5s ease;
}

.footer a:hover {
    color: white;
}

.container.text-center {
    margin: 15px;
}

.fa {
    color: white;
}

i.fa:hover {
    color: blue;
}

/* Detail Page Responsive design for image heights */
.detail-page {
    font-size: 16px;
    font-family: sans-serif;
}

.container.detail {
    background-color: #e3e4e4;
}

p.label-image {
    margin: 3px;
    font-size: 12px;
}

.image-item {
    margin: 15px;
}

img.icon-back {
    margin-top: 15px;
}

.display-all-posts {
    background-color: #fff;
    margin-top: 21px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

p.description {
    font-size: large;
}

p.description-text {
    text-align: left;
    margin: 20px;
    padding-top: 0px;
}

.card.my-3 {
    margin: 15px;
}

.btn-primary {
    color: #fff;
    background-color: #3c763d;
    border-color: #3c763d;
}

.btn-primary:hover {
    color: #fff;
    background-color: #1380ee;
    border-color: #1380ee;
}

.img-detail {
    width: 388px;
    height: 220px;
    float: left;
    object-position: center;
    object-fit: cover;
    margin: 10px;
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

/* PROFILE PAGE */

h3.header-text {
    text-align: center;
    margin: 30px;
}

.general-settings {
    background-color: #ffff;
    padding: 16px;
}

.account-settings {
    background-color: #ffff;
    padding: 16px;
    border-top-style: outset;
}

.profile-text {
    text-align: center;
    margin: 14px;
}

.row.align-items-center {
    min-height: calc(100vh - 115px);
    padding-left: 20px;
    padding-right: 20px;
    background-color: #8aafc7;
    max-width: 650px;
    margin: auto;
}

.line-boder {
    border-top: 1px solid #d8d9dd;
}

/* Comment style */

.commented {
    background-color: #fff;
    padding: 14px;
    border: 1px solid rgb(221, 221, 221);
}

.replay-comment {
    background-color: #fff;
    margin-bottom: 5px;
}

p.error-messages {
    padding-bottom: 15px;
    color: #ea365d;
    margin: 5px;
}

.btn-info {
    margin-top: -45px;
}

button.add-button {
    margin-bottom: 10px;
}

p.content-replay {
    font-style: italic;
    font-size: 12px;
}

p.info {
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: 'FontAwesome';
}

img.icons-replay {
    margin-left: 8px;
    padding: 5px;
}

.display-all-comments {
    width: 25%;
    height: auto;
}

#form1 {
    background-color: #fff;
    padding-left: 6px;
    padding-top: 10px;
}

.my-custom-scrollbar {
    position: relative;
    width: 270px;
    height: 947px;
    overflow: auto;
}

ul.pagination.justify-content-center {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}

button.btn.btn-info {
    margin-top: 20px;
    margin-bottom: 10px;
}