body{
    font-family:ProximaNovaA-Regular;
    background-color:  #eee;
    font-size: 13px;
    color: #3d464d;
}

.header{
    background: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
	padding-left: 0px;
    padding-right: 0px;
    font-size:15px;
    border-bottom: 1px solid #e5e5e5;
}

.navbar.navbar-default {
	box-sizing: border-box;
    background-color: #f4f4f4;
    min-height: 90px;
    width: auto;
    border: none;
    margin-bottom: 5px;
	padding-top: 10px;
}

.navbar-default .navbar-brand {
    color: #777;
	font-family: ProximaNovaA-bold;
	font-size: 20px;	
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.jumbotron{
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 6px;
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 200;
}

.logo_edukasaun{
	width: 347px;
}

.logo_saude{
	width: 290px;
}

.logo_agrikultor{
	width: 235px;
}

.leaflet-container {  /* all maps */
	width:  900px;
	height: 400px;
}

#specialbigmap {
	height: 800px;
}

.logo {
	margin-top: -5px;
	min-width: 1110px;
	max-height: 560px;
}

.text_project {
	position: relative;
    bottom: 319px;
    left: 290px;
    font-size: 30px;
    font-family: ProximaNovaA-bold;
    color: white;
    text-align: center;
}

.text_innovation{
    font-size: 3.8rem;
    text-align: center;
    line-height: 1.1;
}


/* Prevent image stretching is it's resized */
.card-img-top {
    object-fit: cover;
    flex-grow: 1;
    width: 350px;
    max-height: 200px;
}

/* Hover effects */
.card {
    transition: -webkit-transform 0.3s ease;
    font-size: 1em;
    overflow: hidden;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top:20px;
    background-color:#FFFFFF;
}
.card:hover {
  transform: scale(1.01, 1.01);
}

/* Responsive design for image heights */
@media (min-width: 576px) {
  .card-img-top {
    height: 50vw;
  }
}

@media (min-width: 768px) {
  .card-img-top {
    height: 30vw;
  }
}

@media (min-width: 992px) {
  .card-img-top {
    height: 20vw;
  }
}

@media (min-width: 1200px) {
  .card-img-top {
    height: 20vw;
  }
}

@media (min-width: 1200px)
.col-lg-4 {
    width: 33.33333333%;
    margin: -7px !important;
}

.card-body-list{
    margin: 15px;
    font-size: 14px;
    font-family: Raleway, sans-serif;
}

