<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
 
    <title>Marobo</title>
</head>
<body>
    <div class="container">
          <div class="row">
              <div class="col-md-12 login-header">
                  <a href="{% url 'blog' %}" class="logo"><h2>Marobo</h2></a>
              </div>
          </div>
      </div>

      <div class="container registration_content">
          <div class="row">
              <div class="col-md-12">
                  {% block registration_content %}
                  {% endblock %}
              </div>
          </div>
      </div>
</body>
</html>
