<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
 
    <title>Marobo</title>
</head>
<body class="container mt-5">
      <a href="{% url 'blog' %}" class="logo"><h3>Fila</h3></a>
    {% block registration_content %}
    {% endblock %}
</body>
</html>
