{% extends 'marobo/index.html' %}


{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
           <section id="top">
              <div class="jumbotron jumbo_blog">
                <div class="container top-container" data-0="top: 40px;
                    opacity: 1;" data-450="top: 300px; opacity:0;">
                  <h1 class="title_box">Our Blog</h1>
                  <p class="subtitle">thoughts from the field.</p>
                </div>
              </div>
           </section>
{% endblock %}

