{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--Carousel Wrapper-->
<div class="container detail">
    <a href="{% url 'blog' %}"><img src={% static 'icons/back1.png' %} class="icon-back" alt="icon" width="40" height="40"></a>
    <div class="row">
        <div class="col-md-9 display-all-posts">
            <p class="description-text">{{ post.descriptions|safe|truncatewords_html:5000000 }}</p>
            {% for p in photos %}
                {% if p.images %}
                    <a href="javascript:void(0);" class="" data-toggle="modal" data-target="#tutorialsplaneModal_{{ p.id }}">
                        <img src="{{p.images.url }}" class="img-detail" alt="Image">
                    </a>
                {% else %}
                    <video width="530" height="440" controls autoplay>
                        <source src="{{ p.images.url }}" type="video/mp4"> </source>
                    </video>
                    <h3>Iha ne'e la iha photo</h3>
                {% endif %}
            <!-- display modal -->
            <div id="tutorialsplaneModal_{{ p.id }}" class="modal fade" role='dialog'>
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                       <h4 class="modal-title">{{ p.name }}</h4>
                        </div>
                        <div class="modal-body">
                            <img src="{{ p.images.url }}" style="width:100%;height:auto;">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Taka</button>
                        </div>
                    </div>
                  </div>
              </div>
            {% endfor %}
            </div>
            <!-- Comments Form -->
            <div class="col-md-3 display-all-comments">
                {% if user.is_authenticated %}
                    <button type="button" onclick="document.getElementById('form1').style.display='block'"value="ShowMe" class="btn btn-info">Add new comment</button>
                    <!-- Comments Form -->
                    <form action="." id="form1" style="display:none" method="post">
                        {% csrf_token %}
                        <!-- Hidden input for parent comment.id -->
                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                        <div class="form__group mb--30 mb-sm--20">
                            <div class="form-row">
                                <div class="col-12">
                                    {{comment_form.content}}
                                </div>
                            </div>
                        </div>
                        <div class="form__group">
                            <div class="form-row">
                                <div class="col-12">
                                    <button class="add-button" type="submit">Add comment</button>
                                </div>
                            </div>
                        </div>
                    </form>


                    <!-- Comment with nested comments -->
                    <div class="comment">
                        {% if user.is_authenticated %}
                            {% for comment in comments %}
                                <div class="commented">
                                    <p class="info-author">{{ comment.author }} | {{ comment.created_on|date:'d-m-Y H:i' }}</p>
                                    <p class="info-comment">
                                        <img src="{% static 'icons/comment.svg' %}" class="icons-comment" alt="icon" width="20" height="20" title="comments"> {{ comment.content }}
                                    </p>

                                    {% for replay in comment.replies.all %}
                                        <p class="info">{{ replay.author }} | {{ replay.created_on|date:'d-m-Y H:i' }}</p>
                                        <p class="content-replay"><img src="{% static 'icons/replay.svg' %}" class="icons-replay" alt="icon" width="35" height="35" title="replay"> {{ replay.content }}</p>
                                    {% endfor %}
                                    <p>
                                    <button class="btn btn-cta-secondary" data-id="{{ comment.id }} ">Replay</button>
                                    </p>
                               </div>

                               <form action="." method="post" class="replay-comment" style="padding:10px; display:none;" id="form_{{ comment.id }}">
                                    {% csrf_token %}
                                    <!-- Hidden input for parent comment.id -->
                                    <div class="form__group mb--30 mb-sm--20">
                                        <div class="form-row">
                                            <div class="col-12">
                                                {{comment_form.content}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form__group">
                                        <div class="form-row">
                                            <div class="col-12">
                                                <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                                <input class="btn btn-primary" type="submit" value="Replay">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            {% empty %}
                            <h4>There are no comments yet.</h4>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <!-- end of comment form-->
        </div>
</div>
<script type="text/javascript">

    $('.btn-cta-secondary').click(function (e) {
        var id = $(e.currentTarget).data('id')
        $('#form_' + id).toggle()
    })

</script>
{% endblock %}

