{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--Carousel Wrapper-->
<div class="container detail">
    <a href="{% url 'blog' %}"><img src={% static 'icons/back1.png' %} class="icon-back" alt="icon" width="40" height="40"></a>
    <div class="row">
        <div class="col-md-9 display-all-posts">
            <p class="description-text">{{ post.descriptions|safe|truncatewords_html:5000000 }}</p>
            {% for p in photos %}
                {% if p.images %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <a href="javascript:void(0);" class="" data-toggle="modal" data-target="#tutorialsplaneModal_{{ p.id }}">
                            <img src="{{p.images.url }}" class="img-detail" alt="Image"><img src="{% static 'icons/message-circle.svg' %}" class="icons">
                        </a>
                    </div>
                </div>
                {% else %}
                    <video width="530" height="440" controls autoplay>
                        <source src="{{ p.images.url }}" type="video/mp4"> </source>
                    </video>
                    <h3>Iha ne'e la iha photo</h3>
                {% endif %}
            <!-- display modal -->
            <div id="tutorialsplaneModal_{{ p.id }}" class="modal fade" tabindex="-1" role="dialog" arial-labelledby=myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                       <h4 class="modal-title">{{ p.name }}</h4>
                        </div>
                        <div class="modal-body">
                            
                            <div class="rows">
                            <div class="col-md-8">
                                <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height:600px">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <img src="{{ p.images.url }}" style="width:100%;height:auto;">
                                        </div>
                                    </div>

                                    <!-- Left and right controls -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="modal-body inline">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="http://www.solidbackgrounds.com/images/2880x1800/2880x1800-tiffany-blue-solid-color-background.jpg" width="50" height="50" alt="..." class="img-circle">
                                        </div>
                                        <div class="col-md-9">
                                            <small>Text</small>
                                            <br/>
                                            <span class="glyphicon glyphicon-heart"></span> Icon
                                        </div>
                                    </div>
                                   <hr/>
                                   
                                    {% for comment_photo in comment_photo_form %}
                                        {{ comment_photo }}
                                    {% endfor %}
                                    <p class="text-success">Text Text Text</p>
                                    <br/>

                                    <input placeholder="Comment" type="text" style="height:100px" class="form-control" />
                                    <span class="text-mute">Please wrtie your openion.</span>
                                    <button class="btn btn-sm btn-primary pull-right">Save</button>

                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                  </div>
              </div>
            {% endfor %}
            </div>
                <!-- Comments Form -->
                <div class="col-md-3 display-all-comments">
                    <button type="button" onclick="document.getElementById('form1').style.display='block'" value="ShowMe" class="btn btn-info">Add new comment</button>
                    <!-- Comments Form -->
                    <form action="." id="form1" style="display:none" method="post">
                        {% csrf_token %}
                        <!-- Hidden input for parent comment.id -->
                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                        {% if user.is_authenticated %}
                        <div class="form__group mb--30 mb-sm--20">
                            <div class="form-row">
                                <div class="col-6">
                                    {{comment_form.content}}
                                </div>
                            </div>
                        </div>
                        <div class="form__group">
                            <div class="form-row">
                                <div class="col-12">
                                    <button class="add-button" type="submit">Add comment</button>
                                </div>
                            </div>
                        </div>
                        {% else %} <p class="error-messages">Please <a href="{% url 'login' %}">login</a> before add your comment here. If aren't please contact your admin</p>
                        {% endif %}
                    </form>

                    <!-- Comment with nested comments -->
                    <div class="comment">
                        {% for comment in comments %}
                            <div class="commented">
                                <p class="info-author">{{ comment.author }} | {{ comment.created_on|timesince }}</p>
                                <p class="info-comment">
                                    <img src="{% static 'icons/comment.svg' %}" class="icons-comment" alt="icon" width="20" height="20" title="comments"> {{ comment.content|safe|truncatewords_html:5000 }}
                                </p>
                                {% for replay in comment.replies.all %}
                                    <p class="info">{{ replay.author }} | {{ replay.created_on|timesince }}</p>
                                    <p class="content-replay"><img src="{% static 'icons/replay.svg' %}" class="icons-replay" alt="icon" width="35" height="35" title="replay"> {{ replay.content|safe|truncatewords_html:5000 }}</p>
                                {% endfor %}
                                {% if user.is_authenticated %}
                                    <p>
                                        <button class="btn btn-cta-secondary" data-id="{{ comment.id }} ">Replay</button>
                                    </p>
                                {% endif %}
                            </div>


                            <form action="." method="post" class="replay-comment" style="padding:10px; display:none;" id="form_{{ comment.id }}">
                                {% csrf_token %}
                                <!-- Hidden input for parent comment.id -->
                                <div class="form__group mb--30 mb-sm--20">
                                    <div class="form-row">
                                        <div class="col-12">
                                            {{comment_form.content}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form__group">
                                    <div class="form-row">
                                        <div class="col-12">
                                            <input type="hidden" name="parent_id" value="{{ comment.id }}">
                                            <input class="btn btn-primary" type="submit" value="Replay">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        {% empty %}
                        <h4>There is no comment yet.</h4>
                        {% endfor %}
                    </div>
            </div>
            <!-- end of comment form-->
        </div>
</div>


<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<style>
    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
        margin-right: -382px;
    }
    .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
        margin-left: -71px;
    }

</style>

<script type="text/javascript">

    $('.btn-cta-secondary').click(function (e) {
        var id = $(e.currentTarget).data('id')
        $('#form_' + id).toggle()
    })

</script>
{% endblock %}

