{% load static %}
{% load i18n %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>

<footer class="footer">
    <div class="container text-center">
        <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
        <a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
        <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
        <p class="footer-text">&copy; Pykafe | Privacy Policy | Terms of Service</p>
    </div>
</footer>
