{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
			<div class="col-xs-6 col-md-4">
				<a href="#" class="thumbnail">
				  <img src="..." alt="...">
				</a>
				<div class="jumbotron">
					<h3>Edukasaun!</h3>
					<p>My ita asisti hamutuk konaba dezevolvimentu edukasaun iha Timor Leste.</p>
					<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
				</div>
			</div>
			<div class="col-xs-6 col-md-4">
				<a href="#" class="thumbnail">
				  <img src="..." alt="...">
				</a>
				<div class="jumbotron">
					<h3>Saude!</h3>
					<p>My ita asisti hamutuk konaba dezevolvimentu Saude iha Timor Leste.</p>
					<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
				</div>
			</div>
			<div class="col-xs-6 col-md-4">
				<a href="#" class="thumbnail">
				  <img src="..." alt="...">
				</a>
				<div class="jumbotron">
					<h3>Agrikultura!</h3>
					<p>My ita asisti hamutuk konaba dezevolvimentu Agrikultura informasaun iha Timor Leste.</p>
					<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
				</div>
			</div>
        </div>
    </div>
{% endblock %}
