<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>Catalpa International - software and design for the developing world</title>
        <meta name="description" content="Catalpa International is a software development and services firm which provides innovative, simple and effective solutions in a development context.">
        <meta name="author" content="">
        
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon_32.ico">

		<title>
             {% block title %}
			 	<h3>Marobo</h3>
             {% endblock %}
		</title>
	</head>
	<body>
		<h1>Welcome to Marobo</h1>
		<p>Marobo 2012 : Ba maluk sira nebe mak seidauk/nunka visita Marobo, certeza katak seidauk hatene Marobo ne’e pertense iha distrito nebe??? Tuir mai ami hakarak lori ita boot sira atu hatene 8an kona ba Biografia Marobo nian..!!!! Ok..!!ita labele dada lia naruk tan,, tuir mai ita ba haree hamutuk..!!!</p>

		<!-- Main jumbotron for a primary marketing message or call to action -->
           <section id="top">
              <div class="jumbotron jumbo_blog">
                <div class="container top-container" data-0="top: 40px;
                    opacity: 1;" data-450="top: 300px; opacity:0;">
                  <h1 class="title_box">Ita nia Marobo</h1>
                  <p class="subtitle">Bemanas Marobo.</p>
                </div>
              </div>
           </section>

			<div class="container blog_page">
				<div class="row col-md-8">
					<p class="blog">Distrito Bobonaro, konsiste hosi sub distrito nen (6), mak hanesan : Bobonaro, Maliana, Lolotoe, Kailaku, Balibo no Atabae. Kada Sub Distrito hirak ne’e ho ninia area Turismo nebe mak furak i uniku. Tuir mai ami hakarak elabora/esplika area turismo ida nebe mak espesifiku liu. Nia mak MAROBO, nebe pertense iha sub distrito Bobonaro. Marobo situada iha parte leste distrito Bobonaro no parte norte sub distrito Bobonaro.

	Marobo nia linha fronteira: husi parte Leste ho sub distrito Atsabe (Ermera), parte Oeste ho sub distrito Maliana no Kailaku, parte Sul ho kapital sub distrito Bobonaro i parte Norte ho sub distrito Kailaku no distrito Ermera. 
	</p>
			</div>
		</div>
				

		{% block header %}
		{% endblock %}

		{% block content %}
		{% endblock %}

		{% block footer %}
		{% endblock %}
	</body>
</html>
