{% extends 'marobo/base.html' %}

{% load static %}

{% block content %}
    {% load leaflet_tags %}
		<!--[if IE 8]><script src="{% static "leaflet/eventlister.ie8.js" %}"></script><!--<![endif]-->
		<!--[if lt IE 8]><script src="{% static "leaflet/eventlister.ie6-7.js" %}"></script><!--<![endif]-->
		{% leaflet_js %}
		{% leaflet_css %}

	<p>Mai ita hare hamutuk konaba marobo nia furak</p>
	<div class="leaflet_map">
         {% leaflet_map "yourmap" %}
    </div>

	<script type="text/javascript">

    function map_init_basic (map, options) {
        ...
        L.marker([127.4, -8.0]).addTo(map);
        ...
    }
	</script>

{% leaflet_map "yourmap" callback="window.map_init_basic" %}

{% endblock %}

