{% extends 'marobo/base.html' %}

{% block content %}
    
    <ul>
        <h1>populasaun iha Timor Leste </h1>

        {% for suco in sucos %}
            <li> {{ suco.name }} </li>
        {% endfor %}
    </ul>
    <ul>
        <h1>Populasaun</h1>
        {% for population in populations %}
            <li>
              {{ population }}
            </li>
        {% endfor %}
    </ul>
    <ul>
        <h1>Aldeias</h1>
        {% for aldeia in aldeias %}
            <li>
              {{ aldeia }}
            </li>
        {% endfor %}
    </ul>

{% endblock %}
